#nav-toggler {
  -webkit-appearance: none;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1010;
  font-size: 3rem;
  &:checked {
    transform: rotate(180deg);
  }

  &:checked::before {
    content: "\f00d";
    color: #fff;
    transition: 0.2s linear 0.2s;
  }

  &:checked ~ .navbar {
    left: 0;
  }
}
